---
layout: default
single: true
---
    <div class="entry">
      <h2>{{ page.title }}</h2>
      <div class="articleinfo">
        Posted on {{ page.date | date_to_string }} by 森井ゴンザレス |
        {% for category in page.categories %}
          <a href="/categories/{{ category }}/">{{ category }}</a>
        {% endfor %}
      </div>
      {{ content }}
      <div id="related-post">
        <h3>Related Posts</h3>
        <ul>
          {% for relate in site.related_posts limit:5 %}
          <li><a href="{{ relate.url }}">{{ relate.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /**
         * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
         */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://techportalshit.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=techportalshit">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write(
          '<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/techportalshit/get_num_replies.js' + query + '"></' + 'script>'
        );
      })();
      //]]>
    </script>
